body{
    background-color: navy;
    color: cyan;
    font-family: Arial;
}
nav{
    backround-color:none;
    color: white;
    padding: 10px;
}
nav a{
    color: white:
    text-decoraation: none;
    margin-right: 15px;
}
